{% extends "layout/tableLayout.html" %}
{% block title %}攒热量任务列表{% endblock %}
{% block style %}
<style type="text/css">
    .layui-form-label {
        width: 100px;
    }

    .layui-input-block {
        margin-left: 130px;
        width: 180px;
    }

    .layui-button-left {
        margin-left: 50px;
    }

    td a {
        text-decoration: underline;
        color: blue;
    }

    .layui-table-view .layui-table td[data-field^="title"] > div.layui-table-cell {
        line-height: 18px !important;
        text-overflow: inherit !important;
        word-break: break-all;
        overflow: auto;
        white-space: normal;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="layui-form layui-card-header layuiadmin-card-header-auto">

    <div class="layui-inline">
        <label class="layui-form-label">显示状态：</label>
        <div class="layui-input-block">
            <select name="status" id="status">
                <option value="">请选择</option>
                <option value="-1">隐藏</option>
                <option value="1">显示</option>
            </select>
        </div>
    </div>
    <div class="layui-inline layui-button-left">
        <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-app-order-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
        </button>
    </div>
</div>
<blockquote class="layui-elem-quote">
    <a href="javascript:;" id="add" class="layui-btn layui-btn-small">
        <i class="layui-icon">&#xe608;</i> 添加
    </a>
</blockquote>
<div class="layui-card-body">
    <table id="LAY-app-system-order" lay-filter="demo"></table>
    <script type="text/html" id="table-system-order">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger  layui-btn-xs delect-show" lay-event="delete">删除</a>
    </script>
</div>
{% endblock %}

{% block script %}
<script>
    var table, $, layer, element, form;
    layui.config({
        base: 'statices/plugins/layuiadmin/dist/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'layer', 'table', 'element'], function () {
        $ = layui.$;
        table = layui.table;
        layer = layui.layer;
        form = layui.form;
        element = layui.element;
        //监听搜索
        form.on('submit(LAY-app-order-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-app-system-order', {
                where: field
            });
        });

        //监听工具条("删除/编辑/设定角色")
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                show_edit(data._id);
            } else if (obj.event === 'delete') {
                delect_show(data._id, obj);
            }
        });
        //渲染table
        table.render({
            elem: '#LAY-app-system-order'
            , url: '/api/heat_task/my_list' //模拟接口
            , cols: [[
                {field: 'name', width: 280, title: '任务模块名字', align: 'center'}
                , {field: 'module_id', width: 350, title: '任务模块客户端唯一标识id', align: 'center'}
                , {field: 'sort_id', width: 150, title: '排序值', align: 'center'}
                , {field: 'status_name', width: 150, title: '状态', align: 'center'}
                , {field: 'remark', width: 300, title: '备注', align: 'center'}
                , {
                    field: '_id',
                    width: 200,
                    title: '操作',
                    align: 'center',
                    fixed: 'right',
                    toolbar: '#table-system-order'
                }
            ]],
            response: { //定义后端 json 格式，详细参见官方文档
                statusName: 'code', //状态字段名称
                statusCode: '200', //状态字段成功值
                msgName: 'msg', //消息字段
                countName: 'count', //总数字段
                dataName: 'list' //数据字段
            }
            , page: true
            , limit: 15
            , limits: [10, 15, 20, 25, 30]
            , text: {
                none: '暂无相关数据'
            }
            , done: function () {
                element.render('progress')
            }
        });
        $("#add").on("click", function () {
            show_page();
        });

    });
    /**
     * 添加
     */
    function show_page() {
        layer_show("添加热量任务模块", "/heat_task/add", '600', '500');
    }
    /**
     * 编辑
     */
    function show_edit(_id) {
        layer_show("编辑热量任务模块", "/heat_task/edit?_id=" + _id, '600', '500');
    }
    /**
     * 删除
     * @param {String}
     * 表单id
     */
    function delect_show(_id, obj) {
        layer.confirm('您确定要删除吗?', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    var params = {'_id': _id};
                    $.ajax({
                        type: 'delete',
                        url: '/api/heat_task/delete',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: JSON.stringify(params),
                        beforeSend: function (xhr, settings) {
                            showLoading();
                        },
                        success: function (data) {
                            layer.closeAll("loading");
                            if (data.code != 200) {
                                showErrorTips(data.msg, '错误提示');
                                window.parent.layer.closeAll('iframe');

                            } else {
                                showSuccessTips('删除成功！', '提示', function () {
                                    //关闭所有iframe层
                                    window.parent.layer.closeAll('iframe');
                                    obj.del();
                                });
                                return;
                            }
                        }

                    });
                }
        )
    }
    ;

</script>
{% endblock %}