{% extends "layout/formLayout.html" %}
{% block title %}添加轮播{% endblock %}
{% block style %}
    <style type="text/css">
        .layui-form-label {
            width: 120px;
        }

        .layui-input-block {
            margin-left: 150px;
        }

        body {
            background: white;
        }

        .layui-upload-img {
            width: 375px;
            height: 180px;
            margin: 0 10px 10px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>添加轮播</legend>
        </fieldset>
        <form class="layui-form" id="form_box" method="post">

            <div class="layui-form-item">
                <label class="layui-form-label">名字</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" lay-verify="name" autocomplete="off" placeholder="请输入轮播名字"
                           class="layui-input" required>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">轮播图</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test1">上传图片</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                            <input type="hidden" name="img_url" id="img_url">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">轮播类型</label>
                <div class="layui-input-block">
                    <select name="genre" id="genre">
                        <option value="0" selected>普通类型</option>
                        <option value="1">APP内页</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">内页路径</label>
                <div class="layui-input-block">
                    <select name="route_id" id="route_id">
                        <option value="" selected>请选择</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序值</label>
                <div class="layui-input-block">
                    <input type="number" name="sort_id" id="sort_id" lay-verify="sort_id" value="0" autocomplete="off"
                           placeholder="请输入轮播排序值" class="layui-input" required>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">轮播状态</label>
                <div class="layui-input-block">
                    <select name="status" id="status">
                        <option value="1" selected>显示</option>
                        <option value="-1">隐藏</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="remark" id="remark" lay-verify="remark"
                           placeholder="请输入此轮播的备注" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                <textarea placeholder="请输入详细内容" name="content" id="content" class="layui-textarea"
                          style="width: 100%;height:480px;"></textarea>
                </div>
            </div>


            <div class="layui-form-item layui-layout-admin">
                <div class="layui-input-block">
                    <div class="layui-footer" style="left: 0;">
                        <button class="layui-btn" lay-submit="" id="demo1" lay-filter="component-form-demo1">立即提交
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript"
            src="{{ url_for('login.static', filename='js/kindeditor-4.1.7/kindeditor-all-min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('login.static', filename='js/kindeditor-4.1.7/lang/zh_CN.js') }}"></script>
    <script>
        var $, form, upload;
        layui.config({
            base: 'statices/plugins/layuiadmin/dist/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', "laydate", 'layedit', 'element', 'upload'], function () {
            $ = layui.$;
            form = layui.form;
            upload = layui.upload;

            //执行一个laydate实例
            layui.laydate.render({
                elem: '.showdate',
                format: 'yyyy-MM-dd HH:mm:ss'
            });
            var element = layui.element;

            form = layui.form;
            $form = $('form');

            show_route();

            upload.render({
                elem: '#test1'
                , url: '/api/common/upload' //改成您自己的上传接口
                , data: {type_num: 0}
                , accept: 'images'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo1').attr('src', result);
                    });
                }
                , done: function (res, index, upload) {
                    //上传完毕
                    if (res.code == 200) {
                        var res_url = res.data;
                        $('#img_url').val(res_url);
                    } else {
                        show_upload_fail(upload);
                    }
                }
                , error: function (index, upload) {
                    show_upload_fail(upload);
                }
            });

            function show_upload_fail(upload) {
                layer.confirm('上传失败，是否要重新上传?', {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        var result = upload();
                        console.log(result);
                    }
                )
            }


            $(".input-file").on("change", function () {
                var _html = $(this).val();
                $(this).prev("span.see_file").html(_html)
            });
            $('#form_box').ajaxForm({
                url: "/api/carousel/add",
                beforeSubmit: checkForm,  // pre-submit callback
                beforeSend: beforesend,
                success: complete,  // post-submit callback
                error: error_fun,
                dataType: 'json'
            });

            function beforesend() {
                showLoading();
            }

            function checkForm() {
                return true;
            }

            function complete(data) {
                if (data.code == 200) {
                    showSuccessTips('添加成功！', '提示', function () {
                        layer.closeAll("loading");
                        parent.tab.changeTabsPage("carousel/list", "轮播列表");
                    });
                    return;
                } else {
                    showErrorTips(data.msg, '提示', function () {
                        layer.closeAll("loading");
                    });
                }
            }

            function error_fun() {
                showErrorTips('操作失败', '提示', function () {
                    layer.closeAll("loading");
                });
            }

            function show_route() {
                $.ajax({
                    url: '{{ url_for('route_config_api.my_list') }}',
                    type: 'get',
                    data: {'limit': 1000, 'status': 1},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code != 200) {
                            var login_callback = undefined;
                            if (data.code == 230) {
                                login_callback = login_address_jump;
                            }
                            //如果是未登录则进行跳转
                            showErrorTips(data.msg, '错误提示', login_callback);
                            return;
                        } else {
                            var option_html = '';
                            for (var i = 0; i < data.data.list.length; i++) {
                                var item = data.data.list[i];
                                option_html += '<option value="' + item._id + '">' + item.name + '</option>';
                            }
                            $('#route_id').append(option_html);

                            form.render();
                        }
                    },
                    fail: function (e) {
                        console.error(e);
                    }
                });
            }
        });
    </script>
{% endblock %}