{% extends "layout/tableLayout.html" %}
{% block title %}推广邀请统计{% endblock %}
{% block style %}
<style type="text/css">
    .layui-form-label {
        width: 100px;
    }

    .layui-input-block {
        margin-left: 130px;
        width: 180px;
    }

    .layui-button-left {
        margin-left: 50px;
    }

    /*tbody .layui-table-cell {*/
    /*min-height: 55px;*/
    /*line-height: 55px;*/
    /*}*/
</style>
{% endblock %}
{% block content %}
<div class="layui-form layui-card-header layuiadmin-card-header-auto">
    <div class="layui-inline">
        <label class="layui-form-label">邀请码：</label>
        <div class="layui-input-block">
            <input type="text" name="invite_code" lay-verify="invite_code" id="invite_code" autocomplete="off"
                   placeholder="请输入推广的邀请码" class="layui-input">
        </div>
    </div>
    <div class="layui-inline layui-button-left">
        <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-app-order-search">
            搜索
        </button>
    </div>
</div>
<div class="layui-card-body">
    <table id="LAY-app-system-order" lay-filter="demo"></table>
</div>

{% endblock %}

{% block script %}
<script>
    var table, $, layer, element, form;
    layui.config({
        base: 'statices/plugins/layuiadmin/dist/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'layer', 'table', 'element'], function () {
        $ = layui.$;
        table = layui.table;
        layer = layui.layer;
        form = layui.form;
        element = layui.element;
        //监听搜索
        form.on('submit(LAY-app-order-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-app-system-order', {
                where: field
            });
        });
        //监听工具条("删除/编辑/设定角色")
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                show_edit(data._id);
            }
        });
        //渲染table
        table.render({
            elem: '#LAY-app-system-order'
            , url: '/api/statistical/statistical_official_invite' //模拟接口
            , cols: [[
                {field: 'today_str', width: 130, title: '日期', align: 'center'}
                , {field: 'invite_name', width: 130, title: '推广渠道', align: 'center'}
                , {field: 'invite_code', width: 130, title: '邀请码', align: 'center'}
                , {field: 'first_level_invitation_num', width: 130, title: '直接邀请人', align: 'center'}
                , {field: 'sencond_level_invitation_num', width: 130, title: '间接邀请人', align: 'center'}
                , {field: 'total_invitation_num', width: 130, title: '总的邀请人', align: 'center'}
                , {field: 'fission_num', width: 130, title: '总裂变人数', align: 'center'}
                , {field: 'access_today', width: 130, title: '当天访问量', align: 'center'}

            ]],
            response: { //定义后端 json 格式，详细参见官方文档
                statusName: 'code', //状态字段名称
                statusCode: '200', //状态字段成功值
                msgName: 'msg', //消息字段
                countName: 'count', //总数字段
                dataName: 'list' //数据字段
            }
            , page: true
            , limit: 15
            , limits: [10, 15, 20, 25, 30, 50]
            , text: {
                none: '暂无相关数据'
            }
            , done: function () {
                element.render('progress')
            }
        });
        $("#add").on("click", function () {
            show_page();
        });
    });

</script>
{% endblock %}