{% extends "layout/formLayout.html" %}
{% block title %}编辑角色{% endblock %}
{% block style %}
<style type="text/css">
    .layui-form-label {
        width: 95px;
    }

    .layui-input-block {
        margin-left: 125px;
    }
</style>
{% endblock %}
{% block content %}
<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>编辑角色</legend>
    </fieldset>
    <form class="layui-form" id="form_box" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">短信验证码</label>
            <div class="layui-input-inline">
                <input type="number" name="input_phonecode" id="input_phonecode" value=""
                       placeholder="手机验证码" class="layui-input" width="200px"
                       oninput="if(this.value.toString().length > 6)this.value = this.value.toString().slice(0,6)"/>
            </div>
            <div class="layui-input-inline" style="top: 8px;">
                <span onclick="getPhoneCode(this)" style="cursor:pointer;">获取验证码</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="c-red em">*</span>角色名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" autocomplete="off" placeholder="请输入角色名称" class="layui-input">
                <input type="hidden" id="_id" name="_id">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <input type="text" name="remark" id="remark" autocomplete="off" placeholder="请输入角色备注"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" class="layui-btn" id="demo1" value="立即提交">
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    var $, form;
    layui.config({
        base: 'statices/plugins/layuiadmin/dist/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        $ = layui.$;
        form = layui.form;
        $.ajax({
            type: 'get',
            url: '/api/role/detail?_id=' + '{{_id}}',
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                showLoading();
            },
            success: function (data) {
                if (data.code != 200) {
                    var login_callback = undefined;
                    if (data.code == 230) {
                        login_callback = login_address_jump;
                    }
                    //如果是未登录则进行跳转
                    showErrorTips(data.msg, '错误提示', login_callback);
                    return;
                } else {
                    var item = data.data;

                    $("#_id").val(item._id);
                    $("#name").val(item.name);
                    $("#remark").val(item.remark);
                }
            },
            error: function (xhr, type) {
                showErrorTips(type + '：' + xhr.statusText, xhr.status + ' 错误');
            },
            complete: function (xhr, status) {
                hideLoading();
            }
        });
        $('#form_box').ajaxForm({
            url: "/api/role/update",
            beforeSubmit: checkForm,  // pre-submit callback
            beforeSend: beforesend,
            success: complete,  // post-submit callback
            error: error_fun,
            dataType: 'json'
        });
        function checkForm() {
            var name = $('#name').val();
            if (name == '') {
                showErrorTips('角色名字不能为空', '提示', function () {
                    layer.closeAll("loading");
                });
                return false;
            }

            return true;
        }

        function beforesend() {
            showLoading();
        }

        function complete(data) {
            if (data.code == 200) {
                showSuccessTips('更新成功！', '提示', function () {
                    parent.location.reload();
                    //iframe页面
                    layer.closeAll("loading");
                });
                return;
            } else {
                showErrorTips(data.msg, '提示', function () {
                    layer.closeAll("loading");
                });
            }
        }

        function error_fun() {
            showErrorTips('操作失败', '提示', function () {
                layer.closeAll("loading");
            });
        }
    });
</script>
{% endblock %}