{% extends "layout/tableLayout.html" %}
{% block title %}猜红包列表{% endblock %}
{% block style %}
<style type="text/css">
    .layui-form-label {
        width: 100px;
    }

    .layui-input-block {
        margin-left: 130px;
        width: 180px;
    }

    .layui-button-left {
        margin-left: 50px;
    }

    .layui-inline {
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="layui-form layui-card-header layuiadmin-card-header-auto">
    <div class="layui-inline">
        <label class="layui-form-label">日期：</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="today_str" lay-verify="today_str" id="today_str"
                   autocomplete="off" placeholder="请输入发红包的日期" lay-key="6">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">红包状态：</label>
        <div class="layui-input-block">
            <select name="status" id="status">
                <option value="">请选择</option>
                <option value="-1">已过期</option>
                <option value="0">未猜中</option>
                <option value="1">已猜中</option>
            </select>
        </div>
    </div>
    <div class="layui-inline layui-button-left">
        <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-app-order-search">
            搜索
        </button>
    </div>
</div>

<div class="layui-card-body">
    <table id="LAY-app-system-order" lay-filter="demo"></table>
    <script type="text/html" id="table-system-order">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    </script>
</div>
{% endblock %}
{% block script %}
<script>
    var table, $, layer, element, form;
    layui.config({
        base: 'statices/plugins/layuiadmin/dist/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'layer', 'table', 'element', 'laydate'], function () {
        $ = layui.$;
        table = layui.table;
        layer = layui.layer;
        form = layui.form;
        element = layui.element;
        layui.laydate.render({
            elem: '#today_str',
            format: 'yyyy-MM-dd'
        });
        //回车监听搜索
        $(document).on('keydown', function (e) {
            if (e.keyCode == 13) {
                $(".layuiadmin-btn-order").click();
            }
        })
        //监听搜索
        form.on('submit(LAY-app-order-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-app-system-order', {
                where: field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //监听工具条("删除/编辑/设定角色")
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                show_edit(data._id);
            }

        });
        //渲染table
        table.render({
            elem: '#LAY-app-system-order'
            , url: '/api/guess_red/my_list'//模拟接口
            , cols: [[
                {field: 'today_str', title: '日期', align: 'center'}
                    , {field: 'hour_int_d', title: '几点红包', align: 'center'}
                , {
                    field: 'minute_int', title: '第几分钟', align: 'center', templet: function (item) {
                    return '<div style="word-break:break-all;"><a href="javascript:;" data-id="' + item.number_of_periods + '" data-name="' + item.today_str + ' ' + item.hour_int + '点' + item.minute_int + ' 分红包领取详情" class="show-user" style="color:blue;">' + item.minute_int + ' 分</a></div>';
                }
                }
                , {field: 'value', title: '红包总金额', align: 'center'}

                , {
                    field: 'status_name',
                    width: 100,
                    title: '红包状态',
                    align: 'center',
                    templet: function (item) {
                        if (item.status == 1) {
                            return '<span style="color: red;">已猜中</span>';
                        } else {
                            if (item.status == -1) {
                                return '<span style="color: red;">已过期</span>';
                            } else {
                            return '<span style="color: orange;">未猜中</span>';
                            }
                        }
                    }
                }
                , {field: 'nickname', title: '猜中者昵称', align: 'center'}
                     , {field: 'guess_time', title: '猜中时间', align: 'center'}
            ]],
            response: { //定义后端 json 格式，详细参见官方文档
                statusName: 'code', //状态字段名称
                statusCode: '200', //状态字段成功值
                msgName: 'msg', //消息字段
                countName: 'count', //总数字段
                dataName: 'list' //数据字段
            }
            , page: true
            , limit: 24
            , limits: [24, 48]
            , text: {
                none: '暂无相关数据'
            }
            , done: function () {
                element.render('progress')
            }
        });
        $("body").on("click", ".show-user", function () {
            var id = $(this).attr("data-id");
            var data_name = $(this).attr("data-name");
            parent.tab.addTabsPage("/guess_red/detail_list?guess_red_id=" + id, data_name)
        });
    });

</script>
{% endblock %}