{% extends "layout/formLayout.html" %}
{% block title %}编辑订单{% endblock %}
{% block style %}
<style type="text/css">
    .layui-form-label {
        width: 120px;
    }

    .layui-input-block {
        margin-left: 150px;
    }

    body {
        background: white;
    }
</style>
{% endblock %}
{% block content %}
<div style="padding: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>编辑轮播</legend>
    </fieldset>
    <form class="layui-form" id="form_box" method="post">

        <label class="layui-form-label">名字</label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name" lay-verify="name" autocomplete="off" placeholder="请输入轮播名字"
                   class="layui-input" required>
            <input type="hidden" id="_id" name="_id">
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">轮播图</label>
            <div class="layui-input-block">
                <p>
                <div style="width: 90px;height: 90px;line-height: 90px;text-align: center;"><img id="img_url_img" src=""
                                                                                                 width="90"></div>
                </p>
                <p>
                    <a href="javascript:void(0);" class="layui-btn ">浏览文件</a>
                    <span class="see_file"></span>
                    <input type="file" multiple name="img_url" id="img_url" class="input-file "
                           style="width:92px;height: 38px;left: 0px;position: absolute; opacity: 0;">
                </p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">轮播类型</label>
            <div class="layui-input-block">
                <select name="genre" id="genre">
                    <option value="0">H5地址</option>
                    <option value="1">APP内页</option>
                    <option value="2">文档类型</option>
                    <option value="3">本身内容</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标位置</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入轮播目标位置 h5为http地址 APP内页为客户端定义 文档类型为文档id" name="target_url" id="target_url"
                          class="layui-textarea"
                          style="width: 100%;height:100px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序值</label>
            <div class="layui-input-block">
                <input type="number" name="sort_id" id="sort_id" lay-verify="sort_id" autocomplete="off"
                       placeholder="请输入轮播排序值" class="layui-input" required>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">轮播状态</label>
            <div class="layui-input-block">
                <select name="status" id="status">
                    <option value="1" selected>显示</option>
                    <option value="-1">隐藏</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="remark" id="remark" lay-verify="remark" autocomplete="off"
                       placeholder="请输入此轮播的备注" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入详细内容" name="content" id="content" class="layui-textarea"
                          style="width: 100%;height:480px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" lay-submit="" id="demo1" lay-filter="component-form-demo1">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript"
        src="{{ url_for('login.static', filename='js/kindeditor-4.1.7/kindeditor-all-min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('login.static', filename='js/kindeditor-4.1.7/lang/zh_CN.js') }}"></script>
<script>
    KindEditor.ready(function (K) {
        var editor = window.editor = K.create('#content', {
            uploadJson: '/api/carousel/upload_img',
            allowFileManager: true,
            allowImageUpload: true,
            urlType: 'domain',
            filterMode: false,
            afterBlur: function () {
                this.sync()
            }
        })
    });
    var $, form;
    layui.config({
        base: 'statices/plugins/layuiadmin/dist/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', "laydate", 'layedit'], function () {
        $ = layui.$;
        form = layui.form;
        //执行一个laydate实例
        layui.laydate.render({
            elem: '.showdate',
            format: 'yyyy-MM-dd HH:mm:ss'
        });

        form = layui.form;
        $form = $('form');


        $(".input-file").on("change", function () {
            var _html = $(this).val();
            $(this).prev("span.see_file").html(_html)
        });


        $.ajax({
            type: 'get',
            url: '/api/carousel/detail?_id={{ _id }}',
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                showLoading();
            },
            success: function (data) {
                if (data.code != 200) {
                    var login_callback = undefined;
                    if (data.code == 230) {
                        login_callback = login_address_jump;
                    }
                    //如果是未登录则进行跳转
                    showErrorTips(data.msg, '错误提示', login_callback);
                    return;
                } else {
                    var item = data.data;
                    $("#_id").val(item._id);
                    $("#name").val(item.name);
                    editor.html(item.content);
                    $("#target_url").val(item.target_url);
                    $("#genre").val(item.genre);
                    $("#sort_id").val(item.sort_id);
                    $("#status").val(item.status);
                    $("#remark").val(item.remark);
                    document.getElementById("img_url_img").src = item.img_url;
                }
                form.render();
            },
            error: function (xhr, type) {
                showErrorTips(type + '：' + xhr.statusText, xhr.status + ' 错误');
            },
            complete: function (xhr, status) {
                hideLoading();
            }
        });
        $('#form_box').ajaxForm({
            url: "/api/carousel/update",
            beforeSubmit: checkForm,  // pre-submit callback
            beforeSend: beforesend,
            success: complete,  // post-submit callback
            error: error_fun,
            dataType: 'json'
        });
        function beforesend() {
            showLoading();
        }

        function checkForm() {
            return true;
        }

        function complete(data) {
            if (data.code == 200) {
                showSuccessTips('更新成功！', '提示', function () {
                    layer.closeAll("loading");
                    parent.tab.changeTabsPage("carousel/list", "轮播列表");
                });
                return;
            } else {
                showErrorTips(data.msg, '提示', function () {
                    layer.closeAll("loading");
                });
            }
        }

        function error_fun() {
            showErrorTips('操作失败', '提示', function () {
                layer.closeAll("loading");
            });
        }
    });
</script>
{% endblock %}